<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
</head>
<body>

	<div class = "container">
	<table class="table table-bordered table-striped" id="itemTable">
	
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Item Weight</th>
				<th>Item Type</th>
				<th>Item Price</th>
			</tr>			
		</thead>
		<tbody>
			<tr th:each = "item: ${items}">
			<td th:text = "${item.name}"/>
			<td th:text = "${item.weight}"/>
			<td th:text = "${item.type}"/>
			<td th:text = "${item.totalCost}"/>			
		</tbody>
	
	</table>
	
	</div>
</body>
</html>