<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container">
		<h3>Add Item</h3>
		<hr />
		<form th:action="@{/item/saveItem}" th:object="${item}" method="POST">
			<input type="text" th:field="*{name}" class="form-control col-4 mb-4"placeholder= "Enter Item Name" /> 
										
			<input type="text" th:field = "*{price}" class="form-control col-4 mb-4" placeholder= "Enter Price" />
			<!-- 
			<input type ="text" th:feild = "*{weight}" class = "form-control col-4 mb-4" placeholder = "Enter Weight" />
			 -->
			<input type ="text" th:field = "*{type}" class = "form-control col-4 mb-4" placeholder = "Enter Item type"/>
			<button type="submit" class="btn btn-primary col-2">Save</button>

			
		</form>
	</div>

</body>
</html>