<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
</head>
<body>

	<div class = "container">
		<h3>Item List</h3>
		<hr/>		
		<a th:href="@{addItem}" class="btn btn-primary">Create Item</a><br><br>
		
		<table class="table table-bordered table-striped" id="itemTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>				
					<th>Price</th>
					<th>Weight</th>
					<th>Type</th>
					<th th:text = ${cartSize}></th>
				</tr>			
			</thead>
			<tbody>
				<tr th:each = "item: ${items}">
						
					<td th:text = ${item.id}/>
					<td th:text = ${item.name}/>					
					<td th:text = ${item.totalCost}/>
					<td th:text = ${item.weight}/>
					<td th:text = ${item.type}/>
					<td>
					
					
					<a th:href="@{/cart/addToCart/{id}(id=${item.id})}" class="btn btn-primary" ><span>Add</span></a>
					<!--  separted by space for each dif one i have tried only top one used the form
					
					<form th:value = ${item.id} name = "id" th:action = "@{/cart/addToCart}" method = "post" >													
					<input type = "submit" value = "Add To Cart"/>
					
					<a th:href="@{/cart/addToCart}" th:name = "id" th:value = "${item.id}" class="btn btn-primary" >Add</a>
					
					<input type = "submit" th:href="@{/cart/addToCart}" th:value = "${item.id}"/>	
					
					</form>	-->
					</td>							
										
				</tr>
			</tbody>
		</table>
		<a th:href="@{/cart/checkOut}" class="btn btn-primary">Check Out</a><br><br>
	</div>
	
	
	
</body>
</html>